<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-user></app-user> -->

<a  [routerLink]="['/product']" routerLinkActive="router-link-active" >{{"product"|translate}}</a>
<a  [routerLink]="['/article']" routerLinkActive="router-link-active" >{{"artical"|translate}}</a>
<a [routerLink]="['/game']" routerLinkActive="router-link-active" >{{'game'|translate}}</a>
<select [(ngModel)]="langage" (change)="langChanges($event)" >
    <option value = "en-US" >ENGLISH</option>
    <option value = "zh-CN" >简体中文</option>
</select>
<button (click)="change()">Change</button>
<router-outlet></router-outlet>
