<!-- <app-header #header></app-header> -->


<h1>Dom演示</h1>
<h2>原生js</h2>
    <div id='box'>
      this is a box
    </div>
    <div id='boxs' *ngIf="flag">
      this is a boxs
    </div>

    <button (click)="changeFlag()" >change</button>

    <div #mybox>
      this is a dom node
    </div>

    <!-- 
      动态路由
     -->
<br>
<br>
<br>
<hr>
     <a [routerLink]="['/newscontent']" routerLinkActive="router-link-active" >新闻详情</a>
<ul>
  <li *ngFor="let item of list ;let key=index;" >
    <!-- <a href="#">{{key}}---{{item}}</a> -->
    <a [routerLink]="['/newscontent']" [queryParams]={aid:key} >{{key+1}}---{{item}}</a>
  </li>
</ul>
